<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">

    <targets async="true">
        <target name="JsonFile" xsi:type="File" layout="${shortdate}|${time}|${level}|${message}${exception:format=message}${exception:format=stacktrace}" fileName="${basedir}/logs/${shortdate}Json.log" maxArchiveFiles="7" archiveEvery="Day"/>
        <target name="ServerFile" xsi:type="File" layout="${shortdate}|${time}|${level}|${message}${exception:format=message}${exception:format=stacktrace}" fileName="${basedir}/logs/${shortdate}Server.log" maxArchiveFiles="7" archiveEvery="Day"/>
        <target name="DatabaseFile" xsi:type="File" layout="${shortdate}|${time}|${level}|${message}${exception:format=message}${exception:format=stacktrace}" fileName="${basedir}/logs/${shortdate}Database.log" maxArchiveFiles="7" archiveEvery="Day"/>
    </targets>

    <rules>
        <logger name="JsonLog" minlevel="Info" writeTo="JsonFile" />
        <logger name="DatabaseLog" minlevel="Info" writeTo="DatabaseFile" />
        <logger name="*" minlevel="Warn" writeTo="ServerFile" />
    </rules>

</nlog>