<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true" keepFileOpen="true">

    <targets async="true">
        <target name="CommunicationFile" xsi:type="File" layout="${shortdate}|${time}|${level}|${message}${exception:format=message}${exception:format=stacktrace}" fileName="${basedir:processDir=true}/logs/Communication.log" archiveFileName="{#}.Communication.log" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" archiveEvery="Day" maxArchiveFiles="14"/>
        <target name="DatabaseFile" xsi:type="File" layout="${shortdate}|${time}|${level}|${message}${exception:format=message}${exception:format=stacktrace}" fileName="${basedir:processDir=true}/logs/Database.log" archiveFileName="{#}.Database.log" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" archiveEvery="Day" maxArchiveFiles="14"/>
        <target name="ServerFile" xsi:type="File" layout="${shortdate}|${time}|${level}|${message}${exception:format=message}${exception:format=stacktrace}" fileName="${basedir:processDir=true}/logs/Server.log" archiveFileName="{#}.Server.log" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" archiveEvery="Day" maxArchiveFiles="14"/>
        <target name="ServiceFile" xsi:type="File" layout="${shortdate}|${time}|${level}|${message}${exception:format=message}${exception:format=stacktrace}" fileName="${basedir:processDir=true}/logs/Service.log" archiveFileName="{#}.Service.log" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" archiveEvery="Day" maxArchiveFiles="14"/>
        <target name="FiscalFile" xsi:type="File" layout="${shortdate}|${time}|${level}|${message}${exception:format=message}${exception:format=stacktrace}" fileName="${basedir:processDir=true}/logs/Fiscal.log" archiveFileName="{#}.Fiscal.log" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" archiveEvery="Day" maxArchiveFiles="14"/>
    </targets>

    <rules>
        <logger name="CommunicationLog" minlevel="Info" writeTo="CommunicationFile" />
        <logger name="DatabaseLog" minlevel="Info" writeTo="DatabaseFile" />
        <logger name="ServerLog" minlevel="Info" writeTo="ServerFile" />
        <logger name="ServiceLog" minlevel="Info" writeTo="ServiceFile" />
        <logger name="FiscalLog" minlevel="Info" writeTo="FiscalFile" />
    </rules>

</nlog>