/*
 * OrderSolution HTTP API
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 0.9.6
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 */

using System;
using System.Collections.Generic;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Http;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.WebUtilities;
using Microsoft.Extensions.Logging;
using Microsoft.Extensions.Primitives;
using Swashbuckle.AspNetCore.SwaggerGen;
using Newtonsoft.Json;
using System.ComponentModel.DataAnnotations;
using NovumPosServerStup.Attributes;
using NovumPosServerStup.Models;

namespace NovumPosServerStup.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class HostApiController : Controller
    { 
        /// <summary>
        /// Get the status of the host / POS. This will be regularly called by clients to detect status changes (like host / POS restarts)
        /// </summary>
        
        /// <response code="200"></response>
        [HttpGet]
        [Route("/api/v2/HostStatus")]
        [ValidateModelState]
        [SwaggerOperation("HostStatusGet")]
        [SwaggerResponse(statusCode: 200, type: typeof(PosStatus), description: "")]
        public virtual IActionResult HostStatusGet()
        { 
            //TODO: Uncomment the next line to return response 200 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(200, default(PosStatus));

            string exampleJson = null;
            exampleJson = "{\r\n  \"sessionId\" : \"sessionId\"\r\n}";
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<PosStatus>(exampleJson)
            : default(PosStatus);
            //TODO: Change the data returned
            return new ObjectResult(example);
        }
    }
}
